# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Data (optional - keep if dataset is large)
# data/raw/